<div class="homepage-hero-module">
    <div class="video-container">
        <div class="search-bar text-center">
          <%= render 'shared/search' %>
        </div>
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src= "<%= image_url('Drink-Wine.mp4')%>" type="video/mp4" />
            <source src="<%= image_url('Drink-Wine.webm')%>" type="video/webm" />
        </video>
        <div class="poster hidden">
            <%= image_tag "Drink-Wine.jpg"%>
        </div>
    </div>
</div>
