// Place all the styles related to the workers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper-card {
  // margin-top: 100px;
  // height: 80vh;
}

.description-part {
  margin-top: 27px;
  font-weight: 200;
}

.wrapper-user {
  background-color: #FBF9F6;
}


.profile-btn {
  margin-top: 20px;
}

.wrapper-facility-show{
  background-color: #E5DED2;
  padding-bottom: 1px;
}

#restaurants h4 {
  color: rgb(41, 27, 2);
  padding: 10px;
}

.user-infos {
  margin-top: 40px;
  margin-right: -54px;
}

#min-height {
  min-height: 700px;
}


.user-card {
  display: flex;
  border: 1px solid rgba(200,200,200,1);
  padding: 15px;
  border-radius: 4px;
  background-color: white;
  justify-content: space-around;
  &-img {
    padding-right: 20px;
  }
}

.user-details {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
    margin-top: 0;
  }
}
