// Place all the styles related to the workers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper-card {
  margin-top: 50px;
}

.wrapper-profile {
  margin-top: 50px;

}

.description-part {
  margin-top: 50px;
}