// Place all the styles related to the workers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper-card {
  margin-top: 100px;
}

.description-part {
  margin-top: 50px;
}

.wrapper-user {
  background-color: #FBF9F6;
  padding: 62px;
}

.user-details {
  display: flex;
  flex-direction: column;
  .last_name {
    padding: 0px;
    margin: 0px;
    color: #5A3C08;
  }
  .first_name {
    padding: 0px;
    margin-top: 10px;
    color: #5A3C08;
  }
}

.profile-btn {
  margin-top: 20px;
}

.wrapper-facility-show{
  background-color: #DBD1C1;
  padding-bottom: 47px;
}

#restaurants h4 {
  color: white;
  padding: 10px;
}

.user-infos {
  margin-top: 40px;
}

